/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */

p{
    padding: 1px;
    h1{
        margin: 1px;
    }
    span{
        background: black;
    }
}