@import url("https://fonts.googleapis.com/css?family=Bree+Serif");
/* line 1, ../sass/_modules/_nav.scss */
nav {
  background: linear-gradient(180deg, #2200ab, #522af3);
  color: #000;
}
/* line 4, ../sass/_modules/_nav.scss */
nav .menubar {
  margin: 0 0 0 15px;
  padding: 0 0 0 2px;
  list-style-type: none;
  font-size: 100%;
  display: inline;
}
/* line 10, ../sass/_modules/_nav.scss */
nav .menubar a {
  margin: 0;
  padding: 10px 10px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  border-bottom: 5px solid transparent;
  transition: 0.5s;
}
/* line 19, ../sass/_modules/_nav.scss */
nav .menubar a li {
  margin: 0;
  border-bottom: 1px solid transparent;
  transition: 0.5s;
}
/* line 24, ../sass/_modules/_nav.scss */
nav .menubar a:hover {
  background: linear-gradient(-45deg, #2200ab, #522af3);
  border-bottom: 5px solid #999;
}
/* line 27, ../sass/_modules/_nav.scss */
nav .menubar a:hover li {
  border-bottom: 1px solid #fff;
}
/* line 34, ../sass/_modules/_nav.scss */
nav .search_field {
  margin: 0 15px 0 0;
  float: right;
  vertical-align: middle;
  padding: 10px 10px;
}

/* line 1, ../sass/_modules/_body.scss */
body {
  margin: 0px;
  padding: 0px;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 17px;
  color: #000;
}

/* line 9, ../sass/_modules/_body.scss */
.wrapper {
  margin: 0px;
  padding: 0px;
  border: 0px;
  background-size: cover;
  outline: 0px;
}

/* line 16, ../sass/_modules/_body.scss */
.header {
  background-color: #464646;
}
/* line 18, ../sass/_modules/_body.scss */
.header .logo {
  color: #fff;
  font-size: 18px;
  display: inline-block;
}
/* line 22, ../sass/_modules/_body.scss */
.header .logo a {
  text-decoration: none;
  color: #fff;
}
/* line 25, ../sass/_modules/_body.scss */
.header .logo a img {
  width: 50px;
  padding: 5px;
  vertical-align: middle;
}

/* line 34, ../sass/_modules/_body.scss */
.row {
  margin: 0px auto;
  width: 1200px;
}
/* line 37, ../sass/_modules/_body.scss */
.row .table-wrapper {
  width: 100%;
  border: 1px solid #000;
  text-align: center;
}
/* line 41, ../sass/_modules/_body.scss */
.row .table-wrapper th {
  border: 1px solid #a088ff;
  background: #a088ff;
}
/* line 45, ../sass/_modules/_body.scss */
.row .table-wrapper tr:nth-child(even) {
  background: #88c8ff;
}
/* line 48, ../sass/_modules/_body.scss */
.row .table-wrapper tr:nth-child(odd) {
  background: #c6ff88;
}

/* line 54, ../sass/_modules/_body.scss */
footer {
  position: relative;
  bottom: 0px;
  margin-top: 10px;
  padding: 15px;
  font-size: 11px;
  text-align: center;
  background: #000;
  color: #fff;
}
